@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Author"]</p>

<address>
    <strong>More Info: </strong><a href="marcelogamedev99@gmail.com">marcelogamedev99@gmail.com</a>
</address>
